@import 'src/styles/globals/colors';

button[type="submit"] {
    margin-top: 1.2rem;
    width: 12rem;
}

.auth-container,
.auth-content,
.form-container form {
    display: flex;
}

.auth-image-container {
    height: 100vh;
    background-size: cover;
}

.auth-content {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $primary;
    font-size: .84rem;
    max-width: 28rem;
    margin: 0 auto;
    padding: 0 3vw;

    h2 {
        text-align: center;
    }
}

.form-container form {
    flex-wrap: wrap;
    justify-content: space-between;

    mat-form-field {
        flex-basis: 100%;
        margin: 0.22rem 0;
    }
}

.half-flex-child {
    max-width: calc(50% - 10px);
}

.auth-redirect {
    position: absolute;
    top: 2vh;
    right: 2vw;
    font-size: 0.84rem;
}
