form {
    margin-top: 0.5rem;
}

form mat-form-field {
    width: 100%;
}

.creator-info img {
    max-width: 1.65rem;
    height: auto;
}

.creator-name {
    position: relative;
    bottom: 6px;
    left: 4px;
    color: lighten($color: #000, $amount: 35);
}
