<div *ngIf="$any(post.creator) as creator" class="condensed-post-card">
    <div class="post-info">
        <h2 class="post-title mat-title">{{post.title}}</h2>
        <p class="post-author-category mat-body">
            <a [routerLink]="'/users/' + creator.id" class="author">
                {{creator.username}}
            </a> in
            <a [routerLink]="'/categories/' + $any(post.category).id" class="category">
                {{$any(post.category).name}}
            </a>
        </p>
        <div class="bottom-info">
            <app-like-section
                [model]="post"
                [service]="blogPostService"
                [compact]="true">
            </app-like-section>
            &middot;
            <p>{{post.posted_at | date: 'longDate'}}</p>
        </div>
    </div>
    <img class="post-thumbnail" [src]="post.thumbnail" alt="{{post.title}}">
</div>
