<div *ngIf="$any(post.creator) as creator" class="condensed-post-card">
    <div class="post-info">
        <div class="top-info">
            <h2 (click)="goToPost()" class="post-title mat-title">
                {{post.title}}
            </h2>
            <p class="post-author-category mat-body">
                <a [routerLink]="'/profile/' + creator.id" class="author">
                    {{creator.username}}
                </a> in
                <a [routerLink]="'/categories/' + $any(post.category).id" class="category">
                    {{$any(post.category).name}}
                </a>
            </p>
        </div>
        <div class="bottom-info">
            <app-like-section
                [model]="post"
                [service]="blogPostService"
                [compact]="true">
            </app-like-section>
            &middot;
            <p>{{post.posted_at | date: 'longDate'}}</p>
            <ng-container *ngIf="post.saved">
                &middot;
                <p>saved</p>
            </ng-container>
        </div>
    </div>
    <img (click)="goToPost()" class="post-thumbnail" [src]="post.thumbnail" alt="{{post.title}}">
</div>
