<div class="main-container">
    <div class="post-container">
        <div class="post-header">
            <h2 class="mat-display-2">{{post?.title}}</h2>
            <div class="post-info-left">
                <p class="post-info mat-body">
                <!-- TODO: add a follow button here -->
                Created by <a class="profile-link" [routerLink]="'/users/' + creator?.id">
                    {{creator?.username}}
                </a>
                <button
                    class="post-follow-button"
                    *ngIf="creator?.id != loggedUser.id"
                    mat-icon-button
                    (click)="followCreator()"
                    [color]="(following$ | async) ? 'accent' : null">
                    <mat-icon>person_add</mat-icon>
                </button>
                </p>
                <p class="post-info mat-body">{{post?.posted_at | date: 'fullDate'}}</p>
            </div>
            <div class="post-info-right">
                <button
                    class="post-save-button"
                    mat-icon-button
                    (click)="save()"
                    [color]="post?.saved ? 'accent' : null">
                    <mat-icon>bookmark</mat-icon>
                </button>
                &middot;
                <app-like-section
                    class="post-info post-votes"
                    [model]="post"
                    [service]="blogPostService">
                </app-like-section>
                &middot;
                <button [routerLink]="'/categories/' + category?.id" class="post-category" color="primary" mat-stroked-button>
                    {{category?.name}}
                </button>
            </div>
        </div>
        <img class="post-thumbnail" [src]="post?.thumbnail" alt="Article thumbnail">
        <div class="post-text" [innerHtml]="post?.text | noSanitize"></div>
    </div>
    <div *ngIf="loggedUser?.id && post?.id" class="comments-container">
        <app-create-comment
            [loggedUser]="loggedUser"
            [articleId]="post.id"
            (commentCreated)="onCommentCreated($event)">
        </app-create-comment>
        <h2 class="mat-title">Comments</h2>
        <div
            *ngIf="comments.length; else emptyMessage"
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onCommentsScroll()">
            <app-comment
                *ngFor="let comment of comments"
                [comment]="comment"
                [loggedUserId]="loggedUser.id"
                [articleCreatorId]="post.id">
            </app-comment>
        </div>
        <ng-template #emptyMessage>
            <p class="empty-message mat-body"><em>Nothing here yet.</em></p>
        </ng-template>
        <mat-spinner *ngIf="commentsLoading"></mat-spinner>
    </div>
</div>
