<div class="post-container" *ngIf="{
     post: post$ | async,
     creator: creator$ | async,
     category: category$ | async
    } as data">
    <div class="post-header">
        <h2 class="mat-display-2">{{data.post?.title}}</h2>
        <div class="post-info-left">
            <p class="post-info mat-body">
            <!-- TODO: add a follow button here -->
            Created by <a class="profile-link" [routerLink]="'/users/' + data.creator?.id">
                {{data.creator?.username}}
            </a>
            </p>
            <p class="post-info mat-body">{{data.post?.posted_at | date: 'fullDate'}}</p>
        </div>
        <div class="post-info-right">
            <p class="post-votes post-info mat-body">
                <mat-icon>favorite</mat-icon>
                {{data.post?.total_votes}} votes
            </p>
            <button class="post-category" color="primary" mat-stroked-button>{{data.category?.name}}</button>
        </div>
    </div>
    <img class="post-thumbnail" [src]="data.post?.thumbnail" alt="Article thumbnail">
    <div class="post-text" [innerHtml]="data.post?.text | noSanitize"></div>
</div>
