/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
// import custom globals
@import './globals/colors';

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
}

.mat-card {
    border: 1px solid rgba($color: #595959, $alpha: 0.2);
}

.ngx-toastr,
.mat-card {
    box-shadow: none !important;
}

.empty-message {
    color: #595959;
}

.view-more {
    color: $accent;
    font-weight: 500;
    cursor: pointer;
}
