<div class="main-container">
    <ng-template #emptyMessage>
        <p class="empty-message mat-body"><em>Nothing here yet.</em></p>
    </ng-template>
    <div class="popular-posts">
        <h1 class="mat-display-1">Popular posts</h1>
        <div *ngIf="(popularPosts$ | async)?.length; else emptyMessage" class="condensed-posts">
            <app-condensed-post-card
                *ngFor="let post of popularPosts$ | async"
                [post]="post">
            </app-condensed-post-card>
        </div>
    </div>
    <div class="posts-from-following">
        <h1 class="mat-display-1">From your following</h1>
        <div *ngIf="(postsFromFollowing$ | async)?.length; else emptyMessage" class="condensed-posts">
            <app-condensed-post-card
                *ngFor="let post of postsFromFollowing$ | async"
                [post]="post">
            </app-condensed-post-card>
        </div>
    </div>
</div>
