app-condensed-post-card {
    display: block;
    margin: 1.5rem 0;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
    padding: 8vh 4vw;
    margin: 0 auto;
    width: 75vw;
}

.empty-message {
    color: #595959;
}
