<div class="category-container">
    <div class="category-info">
        <h2 class="category-name">{{category?.name}}</h2>
        <p class="category-followers mat-body">
            {{category?.total_followers}} follower(s)
        </p>
        <app-follow-button
            [model]="category"
            [service]="categoryService">
        </app-follow-button>
    </div>
    <div class="category-posts">
        <div class="category-latest-posts">
            <h2>Latest posts</h2>
            <app-dynamic-resource-list [resourceLoader]="latestPostsLoader">
                <app-condensed-post-card
                    *ngFor="let post of latestPostsLoader?.resourceArr"
                    [post]="post">
                </app-condensed-post-card>
            </app-dynamic-resource-list>
        </div>
        <div class="category-popular-posts">
            <h2>Popular posts</h2>
            <app-dynamic-resource-list [resourceLoader]="popularPostsLoader">
                <app-condensed-post-card
                    *ngFor="let post of popularPostsLoader?.resourceArr"
                    [post]="post">
                </app-condensed-post-card>
            </app-dynamic-resource-list>
        </div>
    </div>
</div>
