<div class="category-container">
    <ng-template #emptyMessage>
        <p class="empty-message mat-body"><em>Nothing here yet.</em></p>
    </ng-template>
    <div class="category-info">
        <h2 class="category-name">{{category?.name}}</h2>
        <p class="category-followers mat-body">
            {{category?.total_followers}} follower(s)
        </p>
        <app-follow-button
            [model]="category"
            [service]="categoryService">
        </app-follow-button>
    </div>
    <div class="category-posts">
        <div
            *ngIf="{
                arr: latestPostsLoader?.resourceArr,
                loading: latestPostsLoader?.resourceLoading,
                url: latestPostsLoader?.resourceUrl
            } as latestPosts"
            class="category-latest-posts">
            <h2>Latest posts</h2>
            <div *ngIf="latestPosts.arr?.length; else emptyMessage" class="condensed-posts">
                <app-condensed-post-card
                    *ngFor="let post of latestPosts.arr"
                    [post]="post">
                </app-condensed-post-card>
                <a
                    *ngIf="!latestPosts.loading && latestPosts.url !== null"
                    (click)="latestPostsLoader.loadMore()"
                    class="view-more mat-body">
                    View more
                </a>
            </div>
        </div>
        <div
            *ngIf="{
                arr: popularPostsLoader?.resourceArr,
                loading: popularPostsLoader?.resourceLoading,
                url: popularPostsLoader?.resourceUrl
            } as popularPosts"
            class="category-popular-posts">
            <h2>Popular posts</h2>
            <div *ngIf="popularPosts.arr?.length; else emptyMessage" class="condensed-posts">
                <app-condensed-post-card
                    *ngFor="let post of popularPosts.arr"
                    [post]="post">
                </app-condensed-post-card>
                <a
                    *ngIf="!popularPosts.loading && popularPosts.url !== null"
                    (click)="popularPostsLoader.loadMore()"
                    class="view-more mat-body">
                    View more
                </a>
            </div>
        </div>
    </div>
</div>
