.category-container {
    display: flex;
    padding: 8vh 4vw;
    margin: 0 auto;
    width: 75vw;
    height: 100%;
}

.category-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 15vh;
    text-align: right;
    padding-right: 4%;
    border-right: 2px solid rgba($color: #595959, $alpha: 0.2);
    flex: 2;
    height: 68vh;

    .category-name {
        margin: 0;
    }

    .category-followers {
        margin: 0.5rem 0 1.4rem;
        color: lighten($color: #000, $amount: 35);
    }
}

.category-posts {
    flex: 5;
    margin: 0 5vw;

    app-condensed-post-card {
        display: block;
        margin: 0.75rem 0;
    }

    .category-popular-posts {
        margin-top: 2.4rem;
    }

    .view-more {
        margin: 0.35rem 0.2rem 0;
    }
}
